:root{
    --nav_bar: rgb(131 179 120);
    --headerFooter: rgb(101 132 93);
    --glow: #52796f;
    --glow2: #4a4e69;
}

*{
    background-color: #ccd5ae;
}

/* Nav bar image */
nav img{
    max-width: 100%;
    background-size: 100%;
    padding-bottom: 20px;
}

/* Side bar controls */
.sideNavBar{
    background-color: var(--nav_bar);
    height: 100%;
    width: 150px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 60px;;
}

.sideNavBar a{
    padding: 6px 8px 6px 16px;
    text-decoration: underline;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #84a98c;
    display: block;
    border: 2px dotted #84a98c;
    padding: 15px;
    margin-top: 20px;
}

/* Adds shad to side bar when hovered */
.sideNavBar a:hover{
    box-shadow: inset 0px 0px 8px var(--glow), 0 0 15px var(--glow);
}

body{
    margin-left: 160px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100%;
    padding: 2rem;
    transition: all 0.5s ease-in-out;
}

.sectionHeaders{
    position: relative;
    left: 0;
    display: inline;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    color:#52796f;
    border: 2px solid #84a98c;
}

section{
    margin-bottom: 70px;
}

/* Adds shadow when you hover over different sections*/
section:hover{
    box-shadow: 20px 20px 50px var(--glow2);
}

.section1{
    border: 5px dotted #84a98c;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section1 p{
    text-align: center;
    margin: 10px 5px;
    padding: 10px 5px;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #52796f;
}
.section1 span{
    font-weight: bold;
    text-decoration: underline;
}

.section1 img{
    max-height: 100%;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    border-radius: 75%;
}

/* Postions image and text so that they are side by side */
.imgposition{
    flex-basis: 40%
}

.textposition{
    font-size: 20px;
    padding-left: 20px;
}

.section2{
    padding-bottom: 10px;
}

.section2 .img{
    size: 100%;
    align-items: center;
    padding-top: 10px;
}

.section2 p{
    padding-top: 10px;
    color: #84a98c;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    margin-top: 5px;
}

.card {
    flex: 1 0 0;
    padding: 20px;
    border-width: 1px;
    border: 5px dotted #84a98c;
  }

.section3{
    border: 5px dotted #84a98c;
    padding-bottom: 20px;
}

.contact{
    text-align: center;
}

footer{
    background-color: #344e41;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    color: white;
    line-height: 60px;
    text-align: center;
}

/* hovering mouse over call me will pull up a pill with the phone number */

span[data-descr] {
    position: relative;
    color: #344e41;
    cursor: pointer;
    margin: 10px;
  }
  
  span[data-descr]:hover::after{
    content: attr(data-descr);
    position: relatvie;
    left: 0;
    bottom: 5px;
    min-width: auto;
    border: 1px #aaaaaa solid;
    border-radius: 25px;
    background-color: #344e41;
    padding: 12px;
    color: white;
    font-size: 16px;
    z-index: 1;
  }

@media screen and (max-height: 450px) {
    .sideNavBar {padding-top: 15px;}
    .sideNavBar a {font-size: 18px;}
}



