:root{
    --nav_bar: rgb(131 179 120);
    --headerFooter: rgb(101 132 93);
    --glow: #52796f;
}

*{
    background-color: #ccd5ae;
}

body{
    text-align: center;
}


.sideNavBar{
    background-color: var(--nav_bar);
    height: 100%;
    width: 150px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 60px;;
}

.sideNavBar a{
    padding: 6px 8px 6px 16px;
    text-decoration: underline;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #84a98c;
    display: block;
    border: 2px dotted #84a98c;
    padding: 15px;
    margin-top: 20px;
}

.sideNavBar a:hover{
    box-shadow: inset 0px 0px 8px var(--glow), 0 0 15px var(--glow);
}

header,
footer{
    /* adds color and alignment to board on top and bottom of page */
    text-align: center;
    background-color: var(--headerFooter);
    border-bottom: 5px solid var(--headerFooter);
}

header img{
    height: 400px;
    width: 2000px;
}


li{
    /* aligns the text links in the nav bar */
    display: inline;
    list-style-type: none;
    font-size: 20px;
    padding: 20px;
    color: black;
}

main{
    display: block;
    justify-content: center;
    align-items: center;
}

aside{
    position: relative;
}

.section1{
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.section1 img{
    height: 500px;
    width: 300px;
    flex: 2 1 100px;
}

    
.section2{
    text-align: center;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-top: 5px solid rgb(153, 200, 142);
    background-color: darkolivegreen;

}

input{
    border-style: solid grey;
    border-width: 5px;
}

button{
    color:white;
    margin-bottom: 10px;
    background-color: red;
}

button:hover{
    background-color: green;
    color: #fff;
}
button:active{
    box-shadow: 0 0 10px #000 inset;
}

footer{
    background-color: rgb(116, 145, 66);
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    line-height: 60px;
}

@media screen and (max-height: 450px) {
    .sideNavBar {padding-top: 15px;}
    .sideNavBar a {font-size: 18px;}
  }


